@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
.social_item{
   margin: 20px 20px 20px 10px;
   font-size: 1.5rem;
     
}
.header1{
    text-align: center;
    margin-top: 12rem;
}
hr {   
    width: 70%;
    height: 2px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 30px;  
    /* border: none; */
    border-top: 5px solid rgb(21, 234, 50);
}
a{
    color: #e18686;
    text-decoration: none;
}

